#content{
  max-width: 1600px;
  margin: 0 auto;
}
#hero {
  margin: 0;
}
nav a {
  text-align: center;
  color: #b26a6a;
  text-decoration: none;
  padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
  background-color: #450909;
}
nav a:hover {
  background-color: #d43636;
  color: #3b1a1a;
}
.book, .join {
  background-color: #6e2828;
  color: #ad9090;
  text-decoration: none;
  font-family: 'Quicksand', 'Bradley Hand', sans-serif;
    font-size: 2em;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover, .join:hover {
  background-color: #5b4545;
  color: #fcfbfb;
}
#background {
  background-color: #fcfbfb;
}
.msg {
  background-color: #141010;
  line-height: 1.5em;
  padding: 35px;
}
footer {
  background-color: #c1aeae;
  color: rgb(39, 49, 84);
  padding: 25px 50px;
  margin-top: 200px;
}
.home-title {
  color: #24726d;
  font-family: 'Quicksand', 'Bradley Hand', sans-serif;
    font-size: 2em;
  margin-top: 10px;
}
h4 {
  color: #4b7110;
}
.msg h2 {
  color: rgb(30, 60, 109);
}
.msg p {
  color: rgb(69, 41, 124);
  font-family: 'Quicksand', 'Bradley Hand', sans-serif;
    font-size: 2em;
  padding-bottom: 15px;
}
footer a {
  color: rgb(21, 108, 46);
  text-decoration: none;
}
footer a:hover {
  color: rgb(34, 163, 62);
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer p {
  font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}    
.logo {
  max-width: 80px;
}
#logo_link {
padding-top: 5px;

}
footer .social img {
  padding-top: 15px;
}

.rivers-card {
  margin: 200px 0;
}

.camping-card {
  margin: 200px 0;
}

.rapids-card {
  margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}